<h1><%= link_to "Flickr API", "/" %></h1>

<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :user_id, "User ID:" %>
  <%= form.text_field :user_id, value: @user_id %>
  <%= form.submit "Search" %>
<% end %>

<br>

<div id="photos">
  <% if @photos %>
    <% @photos.each do |photo| %>
      <%= image_tag "https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg" %>
    <% end %>
  <% end %>
</div>
